---
layout: default
---
{%- assign _dmanuals = site.posts | sort: 'order' -%}
{%- include header.html scrolly_nav=_posts -%}
<!-- Main -->
<div id="main">
	{%- if page.content != "" -%}
		{%- include section.html title=page.title photo=page.cover-photo photo-alt=page.cover-photo-alt auto-header=page.auto-header content=page.content -%}
	{%- endif -%}
	<!-- List -->
	{%- for _dmanual in _dmanuals -%}
		{%- capture _title -%}
			<a href="{{- _dmanual.url | absolute_url -}}">{{- _dmanual.title -}}</a>
		{%- endcapture -%}
		{%- capture _subtitle -%}
			{% if _dmanual.author -%}{{- _dmanual.author }}{% endif %}
		{%- endcapture -%}
		{%- capture _excerpt -%}<p>{{- _dmanual.excerpt | strip_html | truncatewords: 100 -}}</p>{%- endcapture -%}
		{%- capture _link -%}<a href="{{- _dmanual.url | absolute_url -}}">read more</a>{%- endcapture -%}
		{%- assign _content = _excerpt | append: _link -%}
		{%- include section.html title=_title subtitle=_subtitle content=_content -%}
	{%- endfor -%}
</div>