---
layout: default
---
{%- assign _djangomanual = site.djangomanual | sort: 'order' -%}
{%- include header.html scrolly_nav=_djangomanual -%}
<!-- Main -->
<div id="main">
	{%- if page.content != "" -%}
		{%- include section.html title=page.title photo=page.cover-photo photo-alt=page.cover-photo-alt auto-header=page.auto-header content=page.content -%}
	{%- endif -%}
	<!-- Posts List -->
	{%- for _manual in _djangomanual -%}
		{%- capture _title -%}
			<a href="{{- _manual.url | absolute_url -}}">{{- _manual.title -}}</a>
		{%- endcapture -%}
		{%- capture _subtitle -%}
			{% if _manual.author -%}{{- _manual.author }}{% endif %}
		{%- endcapture -%}
		{%- capture _excerpt -%}<p>{{- _manual.excerpt | strip_html | truncatewords: 100 -}}</p>{%- endcapture -%}
		{%- capture _link -%}<a href="{{- _manual.url | absolute_url -}}">read more</a>{%- endcapture -%}
		{%- assign _content = _excerpt | append: _link -%}
		{%- include section.html title=_title subtitle=_subtitle content=_content -%}
	{%- endfor -%}
</div>